*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Header Styling Start */
header{
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url(./Images/background.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navbar Styling Start */
nav{
    width: 100%;
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
}
nav .nav-logo{
    color: #fff;
    font-size: 24px;
}
nav .menu-items{
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    column-gap: 20px;
}
nav .menu-items li{
    position: relative;
}
nav .menu-items li::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 400ms ease;
}
nav .menu-items li:hover::after{
    width: 100%;
}
nav label.open,nav label.close{
    display: none;
}
nav input#toggle{
    display: none;
}
/* Navbar Styling End */

/* Home Content Styling Start */
.home-content{
    max-width: 500px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 14px 5px;
    text-align: center;
}
.home-content p{
    letter-spacing: 2px;
}
.home-content a{
    color: #000;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    border: 2px solid white;
}
.home-content a:hover{
    color: #fff;
    background-color: transparent;
}
/* Home Content Styling End */

/* Header Styling End */

/* All Over Media Query for Screen Size is (890px) */
@media (max-width: 890px) {
    body{
        overflow-x: hidden;
    }
    nav label{
        display: block;
    }
    nav .menu-items{
        flex-direction: column;
        position: absolute;
        padding: 20px;
        column-gap: 0;
        row-gap: 30px;
        top: 10vh;
        right: -100%;
        background-color: gray;
        width: 200px;
        transition: all 400ms ease;
    }
    nav .menu-items a{
        color: black;
    }
    nav .menu-items li::after{
        background-color: #000;
    }
    nav label.open{
        display: block;
    }
    nav input#toggle:checked~.menu-items{
        right: 0px;
    }
    nav input#toggle:checked~label.open{
        display: none;
    }
    nav input#toggle:checked~label.close{
        display: block;
    }
}
